

<div class="content">
	<h3>Category</h3>
	<div class="content-data">

		<div class="content-detail">
			
			<table>
				<thead>
					<tr>
						<th>About</th>
						<th>Refund Policy</th>
						<th>Terms & Conditions</th>
					</tr>
				</thead>
				<tbody>
					
						<tr>
						<td><a asp-action="about" asp-controller="mainpage" asp-route-id="1" class="button button2">Edit Page</a></td>
						<td><a asp-action="refund" asp-controller="mainpage" asp-route-id="1" class="button button2">Edit Page</a></td>
						<td><a asp-action="terms" asp-controller="mainpage" asp-route-id="1" class="button button2">Edit Page</a></td>
							
						</tr>
					

				</tbody>
			</table>
		</div>
	</div>
</div>