@model List<AboutPage>
	<div class="container">
		<main>
			<div class="about">
				<h2 class="heading">About</h2>
				<p>
					@foreach (AboutPage item in Model)
				{
					<td>@item.Description</td>
				}
				</p>
			</div>
		</main> <!-- Main Area -->
	</div>
