

<div class="content">
	<h3>Product characteristics</h3>
	<div class="content-data">

		<div class="content-detail">

			<table>
				<thead>
					<tr>
						<th>Category</th>
						<th>Type</th>
						<th>Color</th>
						<th>Material</th>
					</tr>
				</thead>
				<tbody>

						<tr>
						<td><a asp-action="index" asp-controller="Category"  class="button button2">Edit </a></td>
						<td><a asp-action="index" asp-controller="ProductType"  class="button button2">Edit</a></td>
						<td><a asp-action="index" asp-controller="Color"  class="button button2">Edit </a></td>
						<td><a asp-action="index" asp-controller="Material"  class="button button2">Edit </a></td>

						</tr>


				</tbody>
			</table>
		</div>
	</div>
</div>